<p>{{campo}}</p>
<br>
<br>
<fieldset>
<input type="button" name="9" value="9" (click)="mostrar_campo($event)">
<input type="button" name="8" value="8" (click)="mostrar_campo($event)">
<input type="button" name="7" value="7" (click)="mostrar_campo($event)">
<br>
<input type="button" name="6" value="6" (click)="mostrar_campo($event)">
<input type="button" name="5" value="5" (click)="mostrar_campo($event)">
<input type="button" name="4" value="4" (click)="mostrar_campo($event)">
<br>
<input type="button" name="3" value="3" (click)="mostrar_campo($event)">
<input type="button" name="2" value="2" (click)="mostrar_campo($event)">
<input type="button" name="1" value="1" (click)="mostrar_campo($event)">
<br>
<input type="button" name="0" value="0" (click)="mostrar_campo($event)">
<br>

</fieldset>

<div id="botones">
    <input type="button" name ="igual" value="=" (click)="calcular($event)">
    <input type="button" name ="borrar" value="C" (click)="borrar($event)">
    <br><br>
</div>

<div id="operaciones">
    <input type="button" name = "suma" value="+" (click)="operacion($event)">
    <br>
    <input type="button" name ="resta" value="-" (click)="operacion($event)">
    <br>
    <input type="button" name ="multiplicacion" value="x" (click)="operacion($event)">
    <br>
    <input type="button" name ="division" value="/" (click)="operacion($event)">
</div>

